body {
    background-image: url(../img/Background.png);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    max-width: 100%;
    /* overflow-x: hidden; */
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.cabecalho {
    width: 1549px;
    height: 69px;
    background-color: #4e3494;
}

.cabecalho .logo1 {
    width: 89.19px;
    height: 97.76px;
    margin: 20px;
    margin-left: 95px;
}

.cabecalho .logo2 {
    width: 89.04px;
    height: 97.86px;
    margin: 20px;

}

.home {
    height: 90%;
    text-align: center;
}

.home .dente1 {
    width: 700px;
    display: flex;
    position: absolute;
    top: 10%;
    left: 52%;
}

.titulo {
    position: relative;
}

.primeira-linha, .segunda-linha {
    position: absolute;
    top: 0;
    left: 0;
}

.primeira-linha {
    color: #4e3494; /* Cor da palavra "SQUAD" */
}

.segunda-linha {
    color: #4e3494; /* Cor da palavra "ROXO PASTEL" */
    font-weight: bold; /* Para destacar a segunda linha */
    margin-top: 1.5em; 
}

.home .informacoes .texto {
    color: #4e3494;
    position: absolute;
    z-index: 1;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 42px;
    /* padding: 70px 70px 70px 170px; */
    /* top: 245px; */
}

.planos-container {
    /* position: absolute; */
    top: 95%;
    justify-content: center;
    /* align-items: center; */
    padding-top: 3rem;
    padding-bottom: 0rem;
}

.planos__titulo {
    margin-top: 20px;
    /* Adiciona espaço entre a imagem e o título */
    letter-spacing: 4px;
    border-bottom: 2px solid #4e3494;
    color: #4e3494;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    gap: 10px;
}

.planos__cartoes {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 7rem;
    justify-content: center;
}

.cartao {
    display: flex;
    flex: 1; /* Faz com que os itens ocupem a mesma quantidade de espaço */
    flex-direction: column;
    background-color: #4e3494;
    width: 70%;
    max-width: 300px;
    margin-bottom: 1rem;
    border-radius: 20px;

}

.titulo-com-certo {
    color: #fff;
    border-bottom: 1px solid #fff;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    padding: .75rem 0;
    margin-bottom: .5rem;
}

.titulo-com-certo::before {
    content: "\2714"; /* Código Unicode para o sinal de certo (✔) */
    color: white; /* Cor do sinal de certo */
    margin-right: 5px; /* Espaçamento à direita do sinal de certo */
  }

.cartao__conteudo {
    padding: 0 15%;
}

.cartao__texto {
    color: #fff;
    line-height: 18px;
}

/* .fileira{
    background-color: darkorchid;
    position: absolute;
    width: 50%;
    left: 25%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    
} */

.fileira {
    /* order: -1; */
    /* Para colocar a imagem fileira1 acima */
    /* align-self: flex-start; Alinha a imagem fileira1 para a esquerda */
    /* max-width: none;  */
    /* margin-left: 0; */
    justify-content: center;
    
}

.membros-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
}

.membros_titulo {
    margin-top: 25px;
    /* Adiciona espaço entre a imagem e o título */
    color: #4e3494;
    font-size: 45px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.membro__cartão {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    overflow-x: auto;
    /* Adiciona rolagem horizontal se necessário */
    max-width: 100%;
    /* Garante que o contêiner não ultrapasse a largura da página */
}

.membro1 {
    margin: 0 5px;
    /* Espaçamento entre os membros */
    margin-right: 5px;
    border-bottom: 2px solid #4e3494;
}

.membro1:first-child {
    margin-left: 0;
    /* Remova a margem esquerda do primeiro membro */
}

.equipe {
    display: flex;
    justify-content: center; /* Centraliza os itens verticalmente */
}

.membros__dentes {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens verticalmente */
  
}
  
.membro {
    margin-bottom: 20px; /* Espaçamento entre as imagens */
}
  
.rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4e3494;
}

.rodape__social {
    display: flex;
justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.rodape__social li {
    margin-right: 10px; /* Espaçamento entre os ícones */
}

.direitos-autorais {
    text-align: center; /* Alinha o texto ao centro */
    color: #fff;
}

 
@media screen and (min-width: 393px){
    .primeira-linha{
        left: 17%;
        top: 297%;
        font-size: 45px;
    }
    .segunda-linha{
        left: 17%;
        top: 299%;
        font-size: 45px;
    }
    .texto{
        padding: 30px 30px 30px 100px;
        top: 300px;
        
    }
    .home .dente1{
        left: 75%;
    }
    .cartao{
        max-width: 400px;
    }
    .planos__cartoes{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    
    
}
@media screen and (min-width: 1024px){
    .cabecalho{
        justify-content: center;
        flex-direction: column;
        gap: 15px;
    }

    .planos__cartoes{
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
    }

    .cartao{
        max-width: 300px;
    }

    
}


